  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>
    <a 
      href="/playlists/new"
      class="add-playlist"
    >Add Playlist</a>
    <a 
      href="/playlists"
      class="all-playlists"
    >All Playlists</a>
    <% if (user) { %>
      <a href="/auth/logout" class="logout">👋</a>
      <a href="/profiles" class="profile">Profile</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
