<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/playlists/new">Add a Playlist!</a>
  <a href="/playlists">Show me all the playlists!</a>
</main>

<%- include("./partials/footer") %>
