body {
  background-image: url(../images/home/jukeloop1.gif);
  background-size: cover;
}

h1 {
  box-shadow: 4px 4px rgb(36, 36, 20);
}

form {
  display: absolute;
  margin: auto;
  font-size: 1.6rem;
  background-color: #89DCB9;
  padding: 10px 10px 10px 10px;
  border: 1.5mm ridge rgb(194, 254, 250);
  border-radius: 10%;
  width: 40%;
  box-shadow: 3px 3px rgb(1, 45, 38);
}


.name {
  display: flex;
  width: 60%;
  font-size: 2.2rem;
  font-weight: bold;
  margin: auto;
  padding: 5px;
}

.name-inp {
  margin-left: 15px;
  width: 80%;
}

label {
  font-size: 2rem;
  background-color: #c4fff4;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1mm ridge #ceffee;
  border-radius: 8%;
  /* padding-right: 20px; */
}

.description {
  display: flex;
  font-size: 2.2rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc-inp {
  margin-left: 40px;
  width: 100%;
}

.new-playlist {
  display: flex;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.edit-name {
  display: flex;
  width: 80%;
  font-size: 2.2rem;
  font-weight: bold;
  margin: auto;
  padding: 5px; 
}

.edit-desc {
  display: flex;
  font-size: 2.2rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 5px;
  width: 100%;
  margin: 5px;
}

.edit-desc-inp {
  margin-left: 20px;
  width: 70%;
}

.edit-inp {
  margin-left: 20px;
  width: 80%;
}

.edit-btn {
  margin-left: 232px;
}
