body{
  background-image: url(../images/home/jukebitback.gif);
  background-size: cover;
}

h1,
.pidx {
  background-color: #036016;
  color: #ffffff;
  text-align: center;
}

table {
  background-color: #EEEEFF;
  
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  border: 1px;
  border-radius: 7%;
  padding: 10px 8px 10px 8px;
  margin: 5px 0px 10px 0px;
}

td {
  background-color: #77BA99;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px;
  border-radius: 10%;
  padding: 5px 0px 12px 10px;
}

