body{
  background-image: url(../images/home/jukebitback.gif);
  background-size: cover;
  opacity: 0.95;
}

h1,
.pidx {
  background-color:rgb(199, 255, 255);
  opacity: 0.75;
  text-align: center;
}

td {
  background-color:rgb(165, 255, 255);
  opacity: 0.95;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border: 1px;
  border-radius: 50%;
}