body {
  background-image: url(../images/home/jukeloop1.gif);
  background-size: cover;
}

h1 {
  margin: 25px 0px 10px 0px;
  box-shadow: 4px 4px rgb(36, 36, 20);
}

.description-play {
  font-size: 2rem;
  font-family: 'Alata', sans-serif;
  background-color: #ffffff;;
  margin: 0px 0px 10px 0px;
  padding: 0px 8px 5px 8px;
  border: 1mm ridge #ceffee;
  border-radius: 10%;
} 

a,
#edit-button {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  background-color: aliceblue;
}

label {
  font-size: 2rem;
  background-color: #c4fff4;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1mm ridge #ceffee;
  border-radius: 8%;
  padding: 0px 4px 0px 4px;
  margin: 0px 5px 5px 5px;
}

.add-song-form {
  display: flex;
  font-family: 'Alata', sans-serif;
  /* margin: 10px 10px 10px 10px; */
  font-size: 1.2rem;
  background-color: #89DCB9;
  padding: 8px;
  border: 1mm ridge rgb(194, 254, 250);
  border-radius: 10%;
  box-shadow: 3px 3px rgb(1, 45, 38);
}

.add-song-inp {
  font-size: 1.2rem;
  margin: 5px;
}

table {
  box-shadow: 3px 3px rgb(1, 45, 38);
}

table, th, td {
  display: absolute;
  margin: 10px 20px 10px 20px;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.6rem;
  background-color: #89DCB9;
  padding: 10px 10px 10px 10px;
  border: 1mm ridge rgb(194, 254, 250);
  border-radius: 10%;
  justify-content: center;
  width: 60%;
  box-shadow: 1px 1px rgb(2, 69, 57);
} 

td {
  display: absolute;
  text-align: center;
  font-size: 1.6rem;
  background-color: #c4fff4;
  padding-top: 0px;
  padding: 10px 10px 10px 10px; 
  margin: 5px 10px 8px 10px;
}

.delete-song {
  display: flex;
  margin: 0px 0px 0px 0px;
  background-color: rgb(234, 129, 255);
  color: white;
  font-weight: bolder;
  font-size: 1.8rem;
  border-radius: 10%;
} 