<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Reem+Kufi&family=Tourney&display=swap" rel="stylesheet">
<%- include('../partials/nav') %>

<main>
  <h1>New Playlist</h1>
  <form id="new-form" action="/playlists" method="POST">
    <label class="name">Name 
      <input name="name">
    </label>
    <label class="description">Description
      <input name="description">
    </label>
    <button type="submit" class="new-playlist">Add</button>
  </form>
</main>